{% load static %}
<html>
  <head>
    <title>Oursite</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet/less" type="text/css" href="{% static 'css/style.less' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'imgs/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'imgs/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="72x72" href="{% static 'imgs/snap-icon-72.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'imgs/snap-icon-192.png' %}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head_content %}{% endblock %}
  </head>
  <body style="margin: 0;">
    <div class="page-header">
      <h1><!--<a href="/courses/">Courses</a><--></h1>
    </div>

    <div id="swup" class="content container transition-fade">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>

    </div>

    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script>const swup = new Swup();</script>

    <script src="//cdn.jsdelivr.net/npm/less" ></script>
  </body>
</html>
