{% extends "courses/lesson_base.html" %}

{% block title %}
    {{ lesson }}
{% endblock %}

{% block content %}
    <h1><a href={% url "courses:lesson_list" %}>Lesson</a></h1>
    <h2>{{ lesson }} | <a href={% url "courses:lesson_update" lesson.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "courses:lesson_delete" lesson.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ lesson }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
    <h3>{{ lesson.subtitle }}</h3>
    <br>
    <iframe src="{{ lesson.url }}" style="width: 100%; height: 100%; border: none;"></iframe>
    <p> {{ lesson.url }} </p>
{% endblock %}
